{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "strict",
    "printWidth": 150,
    "tabWidth": 4,
    "trailingComma": "es5",
    "plugins": ["prettier-plugin-blade", "prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "resources/css/app.css",
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
