{
  "printWidth": 120,
  "tabWidth": 4,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-blade"],
  "overrides": [
    {
      "files": ["*.php"],
      "options": {
        "parser": "blade"
      }
    }
  ]
}
