/vendor
/node_modules
/public/build
/public/hot
/public/vendor
/storage
/bootstrap/cache
/.idea
/.vscode
/.fleet
/.zed
/.junie
CLAUDE.md
*.log
.env
.env.*
package-lock.json
composer.lock
.phpunit.cache
.pest_cache
.rector_cache