parameters:
	ignoreErrors:
		-
			message: '#^Cannot call method hasVerifiedEmail\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Cannot call method markEmailAsVerified\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Parameter \#1 \$user of class Illuminate\\Auth\\Events\\Verified constructor expects Illuminate\\Contracts\\Auth\\MustVerifyEmail, App\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Parameter \#1 \$credentials of static method Illuminate\\Support\\Facades\\Auth\:\:attempt\(\) expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/Forms/LoginForm.php

		-
			message: '#^Class App\\Models\\User uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/User.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\User\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\User\:\:\$hidden is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$hidden\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php

		-
			message: '#^Cannot call method middleware\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: routes/web.php

		-
			message: '#^Cannot call method name\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 7
			path: routes/web.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: routes/web.php

		-
			message: '#^Cannot access property \$password on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Feature/Auth/ResetPasswordTest.php

		-
			message: '#^Cannot call method middleware\(\) on Illuminate\\Routing\\Route\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Feature/Pages/DashboardTest.php

		-
			message: '#^Cannot access property \$email_verified_at on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Feature/ProfileTest.php

		-
			message: '#^Cannot access property \$password on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Feature/ProfileTest.php

		-
			message: '#^Cannot call method assertHasErrors\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 7
			path: tests/Feature/ProfileTest.php

		-
			message: '#^Cannot call method assertRedirect\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Feature/ProfileTest.php

		-
			message: '#^Cannot call method call\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 11
			path: tests/Feature/ProfileTest.php

		-
			message: '#^Cannot call method set\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 23
			path: tests/Feature/ProfileTest.php

		-
			message: '#^Cannot call method toBe\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Pest.php

		-
			message: '#^Undefined variable\: \$this$#'
			identifier: variable.undefined
			count: 1
			path: tests/Pest.php

