parameters:
	ignoreErrors:
		-
			message: '#^Cannot call method hasVerifiedEmail\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Cannot call method markEmailAsVerified\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Parameter \#1 \$user of class Illuminate\\Auth\\Events\\Verified constructor expects Illuminate\\Contracts\\Auth\\MustVerifyEmail, App\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Parameter \#1 \$credentials of static method Illuminate\\Support\\Facades\\Auth\:\:attempt\(\) expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/Forms/LoginForm.php

		-
			message: '#^Class App\\Models\\User uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/User.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: routes/web.php

		-
			message: '#^Cannot access property \$password on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Feature/Auth/ResetPasswordTest.php

		-
			message: '#^Cannot call method middleware\(\) on Illuminate\\Routing\\Route\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Feature/Pages/DashboardTest.php

		-
			message: '#^Cannot access property \$email_verified_at on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Feature/ProfileTest.php

		-
			message: '#^Cannot access property \$password on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Feature/ProfileTest.php

		-
			message: '#^Unable to resolve the template type TComponent in call to method Livewire\\LivewireManager\:\:test\(\)$#'
			identifier: argument.templateType
			count: 11
			path: tests/Feature/ProfileTest.php
